---
export const prerender = true;
export function getStaticPaths() {
  return [];
}

import PageBody from '../components/PageBody.astro';
import '~/styles/style.scss';

const title = 'TRIDIBESH SEN PORTFOLIO';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <PageBody />


</html>
