---
import { getAbsoluteUrl } from '../../shared/utils/routing';
---
<div data-route="/contact" class="subpage subpage--contact">
  <article class="subpage__wrapper">
    <div class="subpage__header">
      <a href={getAbsoluteUrl('/')} class="subpage__close-button">X</a>
      <h2 class="subpage__title">Contact</h2>
    </div>
    <div class="subpage__content-wrapper">
      <div class="subpage__content">
        <p>
          Do you want to <b>get in touch</b>? That's
          <span class="subpage--contact__awesome"
            ><span>A</span><span>W</span><span>E</span><span>S</span><span
              >O</span
            ><span>M</span><span>E</span></span
          >!
        </p>
        <p>
          Feel free to send an <a href="mailto:tridibeshsen2002@gmail.com"
            >email</a
          > or drop a line on:
        </p>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/tridibesh-sen/" target="_blank">LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/serpentxxx-cyrpt" target="_blank">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>
